
/******  ANIMATION CLASSES  ******/

/* 
   When one of these classes is applied to an object
   The animation starts!

   The Forwards parameter means that the animation
   will pause when it's execution is over.

   Instead of returning to it's initial state.
*/

.folded-up{
	 transform: scale(0.40);
    -webkit-transform: scale(0.40);
    -o-transform: scale(0.40);
    -moz-transform: scale(0.40);
    -ms-transform: scale(0.40);
    position:fixed!important;
    clip:rect(0px,1280px,800px,0px);
}

.move-out{

	animation:take-page-out forwards 2s;
	-webkit-animation:take-page-out forwards 2s;
	-o-animation:take-page-out forwards 2s;
	-moz-animation:take-page-out forwards 2s;
	-ms-animation:take-page-out forwards 2s;

	z-index:5!important;
	position: relative;
	margin-left:30%!important;
    
    top:-380px!important;
    width:80%!important;
    left:-15%!important;
    clip:auto;
}

.move-in{
	animation: put-page-in forwards 0s;
	-o-animation: put-page-in forwards 0s;
	-webkit-animation: put-page-in forwards 0s;
	-moz-animation: put-page-in forwards 0s;
	-ms-animation: put-page-in forwards 0s;
}

.take-envelope-away{

    transform: translate(0px, 1000px);
    -o-transform: translate(0px, 1000px);
    -webkit-transform: translate(0px, 1000px);
    -moz-transform: translate(0px, 1000px);
    -ms-transform: translate(0px, 1000px);
}

.take-envelope-back{

    transform: translate(0px, -1000px);
    -o-transform: translate(0px, -1000px);
    -webkit-transform: translate(0px, -1000px);
    -moz-transform: translate(0px, -1000px);
    -ms-transform: translate(0px, -1000px);
}

.tilt-5-left { 
   transform: rotate(-5deg);
   -o-transform: rotate(-5deg);   
   -moz-transform: rotate(-5deg);
   -webkit-transform: rotate(-5deg);
   -ms-transform: rotate(-5deg);
   }

.tilt-15-right { 
   transform-origin: bottom left;   
   transform: rotate(15deg);
   -o-transform: rotate(15deg);   
   -moz-transform: rotate(15deg);
   -webkit-transform: rotate(15deg);
   -ms-transform: rotate(15deg);
   }

.tilt-30-right { 
   transform-origin: top right;
   transform: rotate(30deg);
   -o-transform: rotate(30deg);   
   -moz-transform: rotate(30deg);
   -webkit-transform: rotate(30deg);
   -ms-transform: rotate(30deg);
   }

.tilt-15-right { 
   transform: rotate(15deg);
   -o-transform: rotate(15deg);   
   -moz-transform: rotate(15deg);
   -webkit-transform: rotate(15deg);
   -ms-transform: rotate(15deg);
   }

.tilt-15-left { 
   transform: rotate(-15deg);
   -o-transform: rotate(-15deg);   
   -moz-transform: rotate(-15deg);
   -webkit-transform: rotate(-15deg);
   -ms-transform: rotate(-15deg);
   }

/******  KeyFrames Section ******/

/*
	These keyframes are responsible for 
	what happens at which pace 
	during the animations lifespan.
*/

   /*---------Take-Page-Out---------*/

   @keyframes take-page-out {
	0%   {}
	50%  {transform: translate(0px, -200px);}
	80%  {z-index:10;}
	100% {transform: translate(0px, 400px);}
	}
	@-webkit-keyframes take-page-out {
		0%   {}
		50%  {-webkit-transform: translate(0px, -200px);}
		80%  {z-index:10;}
		100% {-webkit-transform: translate(0px, 400px);}
	}
	@-o-keyframes take-page-out {
		0%   {}
		50%  {-o-transform: translate(0px, -200px);}
		80%  {z-index:10;}
		100% {-o-transform: translate(0px, 400px);}
	}
	@-moz-keyframes take-page-out {
		0%   {}
		50%  {-moz-transform: translate(0px, -200px);}
		80%  {z-index:10;}
		100% {-moz-transform: translate(0px, 400px);}
	}
	@-ms-keyframes take-page-out {
		0%   {}
		50%  {-ms-transform: translate(0px, -200px);}
		80%  {z-index:10;}
		100% {-ms-transform: translate(0px, 400px);
			  
			 }
	}
	
	/*---------Put-Page-In---------*/
	
	@keyframes put-page-in {
		0%   {transform: translate(0px, 0px);}
		50%  {}
		80%  {transform: translate(0px, -600px);}
		100% {z-index:2;}
	}
	@-webkit-keyframes put-page-in {
		0%   {-webkit-transform: translate(0px, 0px);}
		50%  {}
		80%  {-webkit-transform: translate(0px, -600px);}
		100% {z-index:2;}
	}
	@-o-keyframes put-page-in {
		0%   {-o-transform: translate(0px, 0px);}
		50%  {}
		80%  {-o-transform: translate(0px, -600px);}
		100% {z-index:2;}
	}
	@-moz-keyframes put-page-in {
		0%   {-moz-transform: translate(0px, 0px);}
		50%  {}
		80%  {-moz-transform: translate(0px, -600px);}
		100% {z-index:2;}
	}
	@-ms-keyframes put-page-in {
		0%   {-ms-transform: translate(0px, 0px);}
		50%  {}
		80%  {-ms-transform: translate(0px, -600px);}
		100% {z-index:2;}
	}

/******  END OF ANIMATION CLASSES  ******/