body{
    background-image: url("../img/office-bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    overflow-x:hidden;
    overflow-y:auto;  
    background-position:top center;
    background-attachment:fixed;
}

#wrapper{
    display: none;
}

#envelope-tophalf{
    position: fixed;
    margin-left:20%;
    margin-right:25%;
    z-index: 1;
    top:35px; 
}

#envelope-bottomhalf{
    position: fixed; 
    margin-left:20%;
    margin-right:25%;
    top:235px;
    left:0px;
    z-index: 4;
}

.page{
    border:2px solid gray;
    position:absolute;
    z-index: 2;
    top:-400px;
    left:-363px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}
.second-page
{ 
    top:-340px;
    left:-369px;  
    z-index: 3;
}

.polaroid{
   position: fixed;
   top:2%;
   right:3%;
   width:20%;
}
.polaroid-stack{
   position: fixed;
   display:none;
   width:20%;
}
.postit{
   position:fixed;
   bottom:5%;
   right:10%;
   width:25%;

}

.pageBtn{
    display: none;
    top:40%;
    position: fixed;
    z-index: 6;
}

.pageBtn > img {
     border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
@media all and (max-width: 1200px),all and (max-height: 560px){
    
    .envelope{
        width:384px;
    }

    #envelope-tophalf{
        width:384px;
        top:78px
    }
    .folded-up{
        top:-250px;
        width:880px;
        left:-250px;
        border-top:3px solid gray;
    }
    /*Chaining classes is not IE6 compatible*/
    .folded-up.second-page{
        top:-220px;
        left:-255px;
    }
}

@media all and (max-width: 799px){
    
    .polaroid-stack{
        display:none!important;
    }
}
@media all and (max-width: 1024px){
    
    .pageBtn > img{
        
    }
}